<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703241233192-onu6toijc2o5r2fe8ah65g3bc5lage1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703241233192-onu6toijc2o5r2fe8ah65g3bc5lage1b</string>
	<key>API_KEY</key>
	<string>AIzaSyAid_Ct8dDm2T4g4vSHXtnsFLaW32QA_Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>703241233192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NONE.SGLP</string>
	<key>PROJECT_ID</key>
	<string>sglp-d303d</string>
	<key>STORAGE_BUCKET</key>
	<string>sglp-d303d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703241233192:ios:c00a2cf6a9732cdc6ea61d</string>
</dict>
</plist>