<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540290927844-ndhguiefropaaitl0atnd02clq1qpgts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540290927844-ndhguiefropaaitl0atnd02clq1qpgts</string>
	<key>API_KEY</key>
	<string>AIzaSyCILoAE4QfYSHsSWPmijcGo2yHzpuz3hus</string>
	<key>GCM_SENDER_ID</key>
	<string>540290927844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NONE.FormularioV4</string>
	<key>PROJECT_ID</key>
	<string>user-data-ac767</string>
	<key>STORAGE_BUCKET</key>
	<string>user-data-ac767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540290927844:ios:cc301edb09718e162730f1</string>
</dict>
</plist>